@model Management_Inventory.Models.InventoryDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@using (Html.BeginForm("Edit","InventoryDetail",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>InventoryDetailViewModel</h4>
    <hr />
    @{ var Id = Model.InventoryDetailId.Trim();}
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.InventoryDetailId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("InventoryDetailId", Id, null, new { @class = "form-control", @readonly = true  })
            @Html.ValidationMessageFor(model => model.InventoryDetailId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-10">
        <label class="control-label col-md-2 p-0"> Đơn vị</label>
        <select class="form-control " name="InventoryId">
            @foreach (var item in Model.listInventory)
            {
                <option value="@item.InventoryId">@item.Name </option>
            }
        </select>
    </div>

    <div class="form-group col-md-10">
        <label class="control-label col-md-2 p-0"> Đơn vị</label>
        <select class="form-control " name="ProductId">
            @foreach (var item in Model.listProduct)
            {
                <option value="@item.ProductId">@item.Name </option>
            }
        </select>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.isActive)
                @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
